/* Links
   ========================================================================== */

a {
  background: transparent;
  color: $color-link-normal;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .2s ease-in-out;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba($color-link-normal,.4);

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover {
    color: $color-link-hover;
    border-bottom-color: rgba($color-link-hover,.4);
  }

  &:visited {
    color: $color-link-visited;
    border-bottom-color: rgba($color-link-visited,.4);

    &:hover {
      color: $color-link-hover;
      border-bottom-color: rgba($color-link-hover,.4);
    }
  }

  &:active {
    color: $color-link-active;
  }
}

/* Buttons
   ========================================================================== */
   .btn {
     border: 0;
     padding: .5rem .7rem;
     display: inline-block;
     border-radius: .1rem;
     margin: 0 1rem 1rem 0;
     border: 0;
     &:hover {
       cursor: pointer;
     }
     &:active {
       transform: translateY(2px);
     }
   }
   .btn-default {
     color: $color-background !important;
     background: $color-highlight2;
     &:hover {
       background: $color-link-hover;
       border-color: rgba($color-highlight2,0) !important;
     }
   }
   .btn-black {
     color: $color-highlight1 !important;
     background: $color-background;
     &:hover {
       background: rgba($color-link-normal,1);
       border-color: rgba($color-highlight2,0) !important;
     }
   }

/* Navigation
   ========================================================================== */
