@import "normalize.css";
@import "variables";

@import "mixins/font-size";
@import "mixins/line-height";
@import "mixins/margin";
@import "mixins/padding";

@import "links";

body {
  background-color: $color-background;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


hr {
  height: 1px;
  background: none;
  border: 0;
  border-top: 1px solid rgba($color-font-body, .75);
  @include margin(1.5,0)
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: $color-font-headings;
  padding: 0;
  line-height: 100%
}
article {
  h1, h2, h3, h4, h5, h6 {
    //padding: 1rem 0 0;
  }
}
h4, h5, h6 {
  @include margin-top(0)
}
h2 {
  font-weight: 300;
  margin-top: 4rem;
  font-size: #{$base * 2 + 'px'};
  font-size: #{$base-font-size * 2 + '%'};
  color: rgba(lighten($color-banners,50),1);
}
h3 {
  font-size: #{$base * 1.25 + 'px'};
  font-size: #{$base-font-size * 1.25 + '%'};
}
h4 {
  font-size: #{$base *.9 + 'px'};
  font-size: #{$base-font-size * .9 + '%'};
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgba(lighten($color-banners,20),1);
  @include margin-top(1);
  @include margin-bottom(0);
}
li, ul, ol,
li ul, li ol {
  @include margin-bottom(.4);
  padding-bottom: 0;
}
ul, ol {
  margin-top: 0;
  padding-top: 0
}
li ul,
li ol {
  @include margin-top(.2);
}
p, ul, ol {
  @include margin-bottom(1);
}
ul {
  list-style: none;
}
h1, h2, h3, h4, h5, h6,
p, ul, ol, li ul, li ol,
blockquote, figure {
  &:first-child {
    margin-top:0;
    padding-top: 0
  }
}

small,
.small {
  @include font-size(.9);
  line-height: 140%;
}

strong {
  color: rgba($color-font-body, 1)
}

/* CUSTOM FONT SIZES */
.fsize-xs {
@include font-size(.8);
line-height: 140%;
}
.fsize-s {
@include font-size(.9);
line-height: 140%;
}
.fsize-l {
 @include font-size(1.5);
 line-height: 140%;
}
.fsize-xl {
  @include font-size(2);
  line-height: 140%;
}
.fsize-xxl {
  @include font-size(3);
  line-height: 140%;
}
.color-font-dark1 {
  color: $fcolor1
}
.fcolor2 {
  color: $fcolor2
}
.fcolor3 {
  color: $fcolor3
}

/* ARTICLE BLOCK */
article {
  p,
  ul, ol,
  blockquote,
  h1, h2, h3, h4, h5, h6,
  hr, nav, figure, .columns {
    max-width: $wrapper-px;
    max-width: $wrapper-rem;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote p {
    color: rgba($fcolor1,1)
  }

  figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include margin-top(1);
    @include margin-bottom(1);
    img {
      max-width: 100%;
    }
    figcaption {
      @include margin-top(.5);
      @include font-size(.9);
      line-height: 120%;
      color: $fcolor1
    }
  }
}

form {
  margin: 0;

  small {
    color: $fcolor2;
    @include font-size(.7)
  }
  label {
    color: darken($color-link-normal,25);
    display: block;
    font-family: $font-alt;
    @include font-size(.85);
  }
}

.checkout-btn {
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}
.form-item {
  flex-grow: 1
}
.form-meta {
  color: rgba($color-background,.5);
  font-family: $font-alt;
  @include font-size(.85);
  margin-top: 1.5rem;

  p {
    margin: 0;
    margin-bottom: .25rem !important
  }
}
.padding-right {
  padding-right: .5rem;
}
.padding-left {
  padding-left: .5rem;
}


input,
select,
textarea {
  @include font-size(1);
  color: $color-link-normal;
  background: rgba($fcolor1,.05);
  box-sizing: border-box;
  outline: none;
  padding: .5rem;
  margin: .1rem 0;
  border-radius: .2rem;
  border: 1px solid rgba($fcolor2,.5);
  width: auto;
  &:focus {
    box-shadow: 0 0 .5rem rgba($color-link-normal,.3);
    border: 1px solid rgba($fcolor2,.3);
  }
  &[type=checkbox] {
    border: 1px solid rgba($color-font-body,1);
    border-radius: .25rem;
    margin-right:.25rem;
  }
  @media (max-width: 641px) {
    &[type=text],
    &[type=email] {
      width: 100% !important
    }
  }
  &::placeholder {
    color: rgba($color-font-body,1) !important;
    font-weight: 300;
    opacity: 1
  }
}

select {
  border-color: rgba($color-font-body,.5);
  @include font-size(.8);
}


/* fontawesome styles */
.fa, .far, .fab, .fas {
  margin-bottom: 0
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}


.wrapper-main {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 3rem 0;
  width: 100%;
  max-width: $wrapper-px;
  max-width: $wrapper-rem
}
.wrapper-full {
  width: 100%;
  max-width: 100%;
  margin: 0 1.5rem;
  width: auto !important;
}
@media (max-width: 641px) {
  .wrapper,
  .wrapper-full {
    margin: 0 1rem;
    width: auto !important
  }
}
@media (max-width: 1007px) and (min-width: 641px) {
  .wrapper {
    margin: 0 1rem;
    width: auto !important
  }
}

section {

}

/* Main Page: Brands Section
   ========================================================================== */

.brands-grid-main {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.brands-section {
  width: 78%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .brand-item {
    width: 33.33%;
    border: 0 !important;

    figure {
      position: relative;
      margin: 0;
      img {
        width: 100%;
      }
      &:hover {
        transition: opacity .25s ease-in-out;
        img {
          opacity: 0
        }
        video {
          opacity: 1
        }
      }
      video {
        transition: opacity .25s ease-in-out;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left:0;
      }
      figcaption {
        text-align: center;
        color: $fcolor1;
        @include font-size(1.5);
        position: absolute;
        z-index: 3;
        bottom: 2.5rem;
        left: 1rem;
        right: 1rem;
        -webkit-transition: all .35s ease-in-out;
           -moz-transition: all .35s ease-in-out;
            -ms-transition: all .35s ease-in-out;
             -o-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
      }
      .gradient {
        background: linear-gradient(0deg, rgba(14, 18, 29, 0.7) 0%, rgba(14, 18, 29, 0) 100%);
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40%;
        z-index: 2
      }
    }
    &:hover {
      figcaption {
        bottom: .5rem;
        -webkit-transition: all .35s ease-in-out;
           -moz-transition: all .35s ease-in-out;
            -ms-transition: all .35s ease-in-out;
             -o-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
      }
    }
  }
}
.special-offers-section {
  width: 22%;
  padding: 1rem;
  background: #090909;
  background-image: url('../../assets/img/main-page-billboard.jpg');
  background-position: left center;
  background-size: cover;

}

/* Inner Page: Collection
   ========================================================================== */

.intro {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.intro-image {
  width: 40%
}
.intro-text {
  width: 50%;
  h1 {
    text-align: center;
  }
}
.intro-image {
  figure {
    width: auto;
    img {
      width: 100%
    }
  }
}
.intro-text {
  @include font-size(1.4);
  p {
    line-height: 150% !important;
  }
}

.collection-grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  .nav-sub {
    width: 15%;

    a {
      border: 0;
    }

    h3 {
      font-family: $font-alt;
      font-size: 1rem;
      margin-left: 2rem;
    }

    ul {
      background: rgba($color-font-body,.12);
      margin-top: 1rem;
      padding: .75rem 0;
      border-radius: .5rem;

      li {
        padding: .5rem 1.5rem;
        margin: 0;

        &.active {
          background: rgba($color-highlight2,.15);
        }
      }
    }
  }

  .collection-section {
    width: 80%;
    display: flex;
    flex-flow: wrap;
    align-content: stretch;


    .collection-item {
      width: 33.33%;
      color: $color-font-body;
      border: 0;
      margin-left: 0;
      margin-right: 0;
      &:hover {
        color: $color-link-hover;
      }
    }

    figure {
      @include margin-bottom(2);
      padding: 0;
      img {
        max-width: 330px;
      }
      figcaption {
        @include font-size(1.2);
        text-align: center;
      }
    }
  }
}

.product-price {
  span {
    font-family: 'AZN'
  }
}

.product-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  @include margin-top(2);

  .product-photo {
    flex-basis: 40%;

    figure {

    }
    figure img {
      width: 90%;
      max-width: 500px;
      margin-right: 0;
    }
  }
  .product-info {
    flex-basis: 50%;
    margin-top: 1rem;
    margin-left: 0;
    h1 {
      @include font-size(2);
      font-family: $font-alt;
    }
    .product-meta {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    .product-volume,
    .product-qty,
    .product-package {
      margin: 0 2rem 2rem 0;
    }
    .product-desc {
      max-width: 80%;
      margin-left: 0;
    }
    .product-add-fav {
      font-family: $font-alt;
      @include font-size(.9);
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }
    .product-price-section {
      font-family: $font-alt;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      .product-price {
        font-weight: bold;
        @include font-size(1.4);
        line-height: 2.8rem;
      }
      .product-price,
      .product-submit {
        margin-left: 0;
        margin-right: 0;
      }
      .product-submit {
        margin-left: 2rem;
      }
    }
  }
}

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),
  url('./fonts/slick.woff') format('woff'),
  url('./fonts/slick.ttf') format('truetype'),
  url('./fonts/slick.svg#slick') format('svg');
}
@font-face {
  font-family: 'AZN';
  font-weight: bold;
  font-style: bold;
  src: url('./fonts/jaznb.eot');
  src: url('./fonts/jaznb.eot?#iefix') format('embedded-opentype'),
  url('./fonts/jaznb.woff') format('woff'),
  url('./fonts/jaznb.ttf') format('truetype'),
  url('./fonts/jaznb.svg#jaznb') format('svg');
}

.products-slider-section {
  margin-top: 6rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;

   .products-slider-item {
     outline: none;

     figure {
       max-width: 230px;
       img {
         width: 100%;
       }
     }
   }

   /* Arrows */
   .slick-prev,
   .slick-next
   {
       font-size: 0;
       line-height: 0;

       position: absolute;
       top: 50%;

       display: block;

       width: 1.5rem;
       height: 1.5rem;
       padding: 0;
       -webkit-transform: translate(0, -50%);
       -ms-transform: translate(0, -50%);
       transform: translate(0, -50%);

       cursor: pointer;

       color: transparent;
       border: none;
       outline: none;
       background: transparent;
   }
   .slick-prev:hover,
   .slick-prev:focus,
   .slick-next:hover,
   .slick-next:focus
   {
       color: transparent;
       outline: none;
       background: transparent;
   }
   .slick-prev:hover:before,
   .slick-prev:focus:before,
   .slick-next:hover:before,
   .slick-next:focus:before
   {
       opacity: 1;
   }
   .slick-prev.slick-disabled:before,
   .slick-next.slick-disabled:before
   {
       opacity: .25;
   }

   .slick-prev:before,
   .slick-next:before
   {
       font-family: 'slick';
       font-size: 1.5rem;
       line-height: 1;

       opacity: .5;
       color: $color-font-body;

       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
   }

   .slick-prev
   {
       left: -25px;
   }
   [dir='rtl'] .slick-prev
   {
       right: -25px;
       left: auto;
   }
   .slick-prev:before
   {
       content: '←';
   }
   [dir='rtl'] .slick-prev:before
   {
       content: '→';
   }

   .slick-next
   {
       right: -25px;
   }
   [dir='rtl'] .slick-next
   {
       right: auto;
       left: -25px;
   }
   .slick-next:before
   {
       content: '→';
   }
   [dir='rtl'] .slick-next:before
   {
       content: '←';
   }
}

/* Header
   ========================================================================== */

.header,
.footer {
  font-family: $font-alt;
}

.header {
  position: relative;
  overflow: visible !important;
  @include margin-top(.65);
  @include margin-bottom(.5);
  display: flex;
  flex-flow: row wrap;

  .logo {
    flex-grow: 1;
    h1 {
      @include font-size(1.2);
      margin: 0;
      padding: 0;
    }
  }

  .nav-main {
    @include font-size(.8);
    line-height: 140%;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    div {
      margin: 0 0 0 1rem;
      a {
        border: 0
      }
    }

    .search {
      input {
        @include font-size(.9);
        outline: none;

        &[type=search] {
          -webkit-appearance: textfield;
          -webkit-box-sizing: content-box;

          width: 25px;
          padding-left: 10px;
          padding: 0;
          color: transparent;
          cursor: pointer;

          background: $color-background url('../../assets/img/icon-search.svg') no-repeat .25rem center;
          background-size: .9rem;

          border: none;
          //padding: 9px 10px 9px 32px;
          //width: 55px;
          //-webkit-border-radius: 10em;
          //-moz-border-radius: 10em;
          //border-radius: 10em;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
        	transition: all .5s;

          &:hover {
            //background-color: #fff;
          }
          &:focus {
            width: 150px;
            padding-left: 32px;
            color: $color-font-body;
            background-color: lighten($color-background,30);
            cursor: auto;
          }
          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button {
            display: none;
          }
        }
        &:-moz-placeholder,
        &::-webkit-input-placeholder {
          color: transparent;
        }
      }
    }

    .lang {
      margin: 0 1.5rem 0 1rem;
    }

    .languagepicker {
      display: inline-block;
      position: absolute;
      padding: 0;
      height: 1.2rem;
      overflow: hidden;
      transition: all .3s ease;
      margin: 0;
      vertical-align: top;
      z-index: 10;
      border-radius: .25rem;

      &:hover {
        height: 4.7rem;
        background: lighten($color-background,20);
      }
    }
    .languagepicker li {
      display: block;
      padding: 0 .5rem;
      margin: 0;
    }
  }
}


@media (max-width: 1007px) and (min-width: 641px) {
 .header {

 }
}
@media (max-width: 641px) {
 .header {

 }
}

/* Footer
   ========================================================================== */
footer {
  @include font-size(.8);
  text-align: right;
  color: rgba($color-font-body, .7);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include margin(0, 1.25);

  .copyright {
    @include margin(0,0);
  }
}
@media (max-width: 1007px) and (min-width: 641px) {

}
@media (max-width: 641px) {
  footer {
    @include margin(0,0);
  }
}


.content-page {
  color: $color-background;
  background: $color-highlight1;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: .2rem;

  a {
    color: $color-link-normal;

    &:hover {
      color: $color-background;
      border-bottom-color: rgba($color-background,.3);
    }
  }

  blockquote {
    padding: 1.5rem 0;
    border-top: 2px solid rgba($color-link-normal,.3);
    border-bottom: 2px solid rgba($color-link-normal,.3)
  }

  blockquote,
  blockquote p {
    color: $color-background;
    font-family: $font-alt;
    text-align: center;
    margin: 2rem 3rem;
  }

  figure {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    figcaption {
      text-align: center;
      font-style: italic;
      color: $color-link-normal;
      @include font-size(.8);
      margin-top: .25rem;
    }

    img {
      border-radius: .5rem
    }
  }

  .content-page-container {
    width: 40rem;

    h2, h3 {
      font-family: $font-alt;
      font-weight: bold;
      color: $color-link-normal;
      margin-top: 2.5rem;
    }
  }

  .content-page-body {
    //color: $color-background;
    margin-top: 2rem;
    margin-bottom: 4rem;

    .contact-form {
      input {
        width: 100% !important;
        max-width: 20rem;
      }
    }
  }
}


/* Shopping Bag
   ========================================================================== */

.shopping-bag {
  color: $color-background;
  font-family: $font-alt;
  background: $color-highlight1;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: .2rem;

  .bag-container {
    width: 80%;
  }

  .bag-empty {
    color: $color-link-normal;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  a:hover {
    color: $color-link-active
  }

  .bag-title {
    @include font-size(1.4);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba($color-font-body,.5);
  }
  .bag-item {
    display: flex;
    flex-flow: row wrap;

    .image-container {
      margin: 0;

      figure {
        img {
          max-width: 200px;
          margin: 0;
        }
      }
    }
    .info-container {
      margin: 1rem 0 0;
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;

      .name-container {
        margin-left: 0;

        .product-name {
          font-family: $font-alt;
          text-transform: uppercase;
          letter-spacing: .1rem;
        }
        .product-format,
        .product-fav {
          color: rgba($color-background, .5);
          @include font-size(.8);
        }
        .product-gift {
          @include font-size(.8);
        }
        .product-fav,
        .product-gift {
          margin-top: 1rem;
        }
      }
      .qty-container {
        text-align: right;
        margin-right: 0;
        display: flex;
        flex-flow: row wrap;
        width: 50%;

        .product-qty {
          width: 60%;

          .product-remove {
            color: rgba($color-background, .5);
            @include font-size(.8);
          }

          input[type=number] {
            width: 5rem;
          }
        }

        .product-price {
          font-weight: bold;
          margin-left: 0;
          margin-right: 0;
          width: 30%;
        }
      }
    }
  }
  .bag-checkout {
    text-align: right;
    border-top: 1px solid rgba($color-font-body,.5);
    margin-top: 1.5rem;
    padding-top: 1.5rem;

    .total-container {
      @include font-size(1.4);
      width: 40%;
      margin-right: 0;
      margin-bottom: 2.5rem;
      display: flex;
      flex-flow: row wrap;

      .total-text {
        text-align: left;
        text-transform: uppercase;
        letter-spacing: .1rem;
        width: 50%;
      }
      .total-price {
        text-align: right;
        font-weight: bold;
        width: 50%;
      }
    }

    .total-info {
      @include font-size(.85);
      color: $color-font-body;
      margin-bottom: 1.5rem;
    }

    .btn {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  .sign-in-container {
    font-family: $font-body;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;

    h2, h3 {
      font-family: $font-alt;
      font-weight: bold;
    }
    h2 {
      @include font-size(1.4);
      color: $color-link-normal;
      margin: 2rem 0 1rem;
    }
    h3 {
      @include font-size(1);
      text-transform: uppercase;
      letter-spacing: .15rem;
      color: $color-background;
    }

    input {
      &[type=text],
      &[type=email] {
        width: 100%;
      }
      &[type=password] {
        width: 50%;
      }
    }

    .sign-form,
    .order-summary {

    }
    .sign-form {
      width: 60%;
      padding-right: 2rem;

      .have-account {
        p {
          margin-bottom: .5rem;
        }
      }
      .password {
        margin-top: 2rem;
      }
    }
    .order-summary {
      width: 40%;
      padding: 2rem;
      border-left: 1px solid rgba($color-font-body,1);
      background: rgba($color-font-body,.25);
      border-radius: 0 .5rem .5rem 0;

      small {
        color: $color-link-normal
      }

      .bag-container {
        width: 100%;
      }

      .shopping-bag {
        color: $color-background;
        font-family: $font-alt;
        background: none;
        margin-top: 2rem;
        padding: 0;
        border-radius: .2rem;
      }

      .bag-item {
        margin-bottom: 1rem;

        .image-container {
          margin: 0;

          figure {
            img {
              max-width: 100px;
              margin: 0;
            }
          }
        }
        .info-container {
          @include font-size(.8);
          margin: .25rem 0 0;
          display: block;

          .name-container {

            .product-name {
              font-family: $font-alt;
              text-transform: uppercase;
              letter-spacing: .1rem;
            }
            .product-format{
              color: rgba($color-background, .5);
              @include font-size(.8);
            }
          }
          .qty-container {
            margin-left: 0;
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            .product-qty {
              width: 60%;
              text-align: left;
              margin: 0;
            }
            .product-price {
              font-weight: bold;
              text-align: right;
            }
          }
        }
      }
      .bag-checkout {
        //text-align: right;
        border-top: 1px solid rgba($color-font-body,.5);
        margin-top: 1.5rem;
        padding-top: 1.5rem;

        .total-container {
          @include font-size(1);
          width: 100%;
          margin-right: 0;
          margin-bottom: 2.5rem;
          display: flex;
          flex-flow: row wrap;

          .total-text {
            text-align: left;
            text-transform: uppercase;
            letter-spacing: .1rem;
            width: 50%;
          }
          .total-price {
            //text-align: right;
            font-weight: bold;
            width: 50%;
          }
        }

        .total-info {
          @include font-size(.85);
          color: $color-font-body;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

/* Modal Windows
   ========================================================================== */

.added-to-cart-modal {
  color: $color-background;
  font-family: $font-alt;
  margin: 0 1rem 0;

  a:hover {
    color: $color-link-active
  }

  p {
    margin: 0;
    padding: 0;
  }

  .modal-title {
    @include font-size(1.4);
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba($color-font-body,.5);
  }
  .added-to-cart-item {
    display: flex;
    flex-flow: row wrap;

    .image-container {
      margin: 0;

      figure {
        img {
          max-width: 200px;
          margin: 0;
        }
      }
    }
    .info-container {
      margin: 1rem 0 0;
      display: flex;
      flex-flow: row wrap;
      flex-grow: 1;

      .name-container {
        margin-left: 0;

        .product-name {
          font-family: $font-alt;
          text-transform: uppercase;
          letter-spacing: .1rem;
        }
        .product-format,
        .product-fav {
          color: rgba($color-background, .5);
          @include font-size(.8);
        }
        .product-fav {
          margin-top: 1rem;
        }
      }
      .qty-container {
        margin-right: 0;
        display: flex;
        flex-flow: row wrap;

        .product-qty {
          input[type=number] {
            width: 5rem;
          }
        }

        .product-price {
          font-weight: bold;
          margin-left: 2rem
        }
      }
    }
  }
  .modal-checkout {
    text-align: right;

    .btn {
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}


.registration {
  color: $color-background;
  font-family: $font-alt;
  margin: 0;

  .modal-title {
    @include font-size(1.4);
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgba($color-font-body,.5);
  }
  .registration-content {
    .modal-checkout {
      margin-top: 1rem;
    }
    input {
      width: 100% !important;
    }
  }
}


/* Hamburger Menu
   ========================================================================== */

#menuToggle {
  display: block;
  position: relative;
  top: 7px;
  right: 0px;

  z-index: 10;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: $color-link-normal;
  border-radius: 1px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 3px);
  background: $color-link-hover;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
  position: absolute;
  width: 280px;
  margin: -100px 0 0 -230px;
  padding: 120px 20px 50px 50px;

  background: lighten($color-background,0);
  border-left: 1px solid rgba($color-font-body,.35);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%,0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: .5rem 0 0;
  @include font-size(1)
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  transform: none;
}


#modal_screen {
  position: fixed;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1100;
  background-color: rgba($color-background,.85);
}

#modal_screen.nope {
  background-color: $color-background;
  margin: 0 auto;
}

#modal_content {
  position: fixed;
  z-index: 1101;
  margin: 0 auto;
  background: rgba($color-highlight1,0);
  background-image: url('../../assets/img/cutpaper.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width:290px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */
  height: 350px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#modal_content .content_wrapper {
  width: 90%;
  margin: 2.5em auto 0;
  text-align: center;
}

#modal_content h3 {
  margin: 0 0 1.5rem;
  color: $color-background;
}

#modal_content p {
  max-width: 75%;
  color: $color-background;
  margin: 0 auto;
}

#modal_content nav {
  display: table;
  width: 342px;
  margin: 0 auto 1rem;
  color: $color-background;
}
#modal_content nav ul {
  display:table-row;
  width: 100%;
  margin:0 auto;
  padding:0;
}
#modal_content nav li {
  display: table-cell;
  text-align: center;
  width: auto;
}

#modal_content nav:after {
  content: "";
  display: block;
  clear: both;
}

#modal_content nav small {
  display: block;
  text-align: center;
  margin: 1em 0 0;
}

#modal_content nav a.av_btn {
  padding: .5rem;
  display:block;
  width: 80%;
  text-decoration: none;
  color: $color-highlight1;
  text-transform: none;
  letter-spacing: 0;
}

#modal_content nav .av_go {
  background-color: $color-background;
}

#modal_content nav .av_no {
  background-color: $color-background;
}

#modal_content nav .av_btn:hover {
  background-color: lighten($color-background,20);
}

#modal_content #modal_regret_wrapper nav a.av_btn {
  margin-top:0;
}

@media (min-width: 688px) {
  #modal_content {
    width: 90%;
    max-width: 500px;
  }

  #modal_content .content_wrapper {
    margin: 2.5em auto 0;
    text-align: center;
  }

  #modal_content h3 {
    margin: 1rem 0;
  }

  #modal_content nav {
    width: 396px;
  }

  #modal_content nav a.av_btn {
    padding: 1em;
    margin: 1.6em auto 0;
  }
}
