/* Links
   ========================================================================== */
a {
  background: transparent;
  color: #9b8c5b;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(155, 140, 91, 0.4); }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    color: #FFF;
    border-bottom-color: rgba(255, 255, 255, 0.4); }
  a:visited {
    color: #c7b374;
    border-bottom-color: rgba(199, 179, 116, 0.4); }
    a:visited:hover {
      color: #FFF;
      border-bottom-color: rgba(255, 255, 255, 0.4); }
  a:active {
    color: #c7b374; }

/* Buttons
   ========================================================================== */
.btn {
  font-family: -apple-system, Helvetica, Arial, Sans-serif;
  border: 0;
  padding: .5rem .7rem;
  display: inline-block;
  border-radius: .2rem;
  margin: 0 1rem 1rem 0;
  border: 0; }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    transform: translateY(2px); }

.btn-default {
  color: #000 !important;
  background: #ccc8a5; }
  .btn-default:hover {
    background: #FFF;
    border-color: rgba(204, 200, 165, 0) !important; }

.btn-black {
  color: #FFFFFF !important;
  background: #000; }
  .btn-black:hover {
    background: #9b8c5b;
    border-color: rgba(204, 200, 165, 0) !important; }

/* Navigation
   ========================================================================== */
@media screen and (min-width: 95em) {
  body,
  html {
    margin: 0;
    width: 100%;
    max-width: none; } }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 100%;
  font-family: "Civita", -apple-system, Helvetica, Arial, Sans-serif;
  font-weight: 400;
  color: rgba(204, 200, 165, 0.8);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 95em) {
    html {
      font-size: 18px;
      font-size: 1.125rem; } }

* {
  line-height: 24px;
  line-height: 1.5rem; }
  @media screen and (min-width: 95em) {
    * {
      line-height: 27px;
      line-height: 1.5rem;
      margin-left: auto;
      margin-right: auto; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0; }
