@charset "UTF-8";
@import url(normalize.css);
/* Links
   ========================================================================== */
a {
  background: transparent;
  color: #9b8c5b;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(155, 140, 91, 0.4); }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    color: #FFF;
    border-bottom-color: rgba(255, 255, 255, 0.4); }
  a:visited {
    color: #c7b374;
    border-bottom-color: rgba(199, 179, 116, 0.4); }
    a:visited:hover {
      color: #FFF;
      border-bottom-color: rgba(255, 255, 255, 0.4); }
  a:active {
    color: #c7b374; }

/* Buttons
   ========================================================================== */
.btn {
  border: 0;
  padding: .7rem 1rem;
  display: inline-block;
  border-radius: .2rem;
  margin: 0 1rem 1rem 0;
  font-weight: bold;
  border: 0; }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    transform: translateY(2px); }

.btn-default {
  color: #000 !important;
  background: #ccc8a5; }
  .btn-default:hover {
    background: #FFF;
    border-color: rgba(204, 200, 165, 0) !important; }

/* Navigation
   ========================================================================== */
body {
  background-color: #000; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

hr {
  height: 1px;
  background: none;
  border: 0;
  border-top: 1px solid rgba(204, 200, 165, 0.75);
  margin: 36px 0px;
  margin: 2.25rem 0rem; }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #ccc8a5;
  padding: 0;
  line-height: 100%; }

h4, h5, h6 {
  margin-top: 0px;
  margin-top: 0rem; }

h2 {
  font-weight: 300;
  margin-top: 4rem;
  font-size: 32px;
  font-size: 200%;
  color: white; }

h3 {
  font-size: 20px;
  font-size: 125%; }

h4 {
  font-size: 14.4px;
  font-size: 90%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #66adff;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 0px;
  margin-bottom: 0rem; }

li, ul, ol,
li ul, li ol {
  margin-bottom: 9.6px;
  margin-bottom: 0.6rem;
  padding-bottom: 0; }

ul, ol {
  margin-top: 0;
  padding-top: 0; }

li ul,
li ol {
  margin-top: 4.8px;
  margin-top: 0.3rem; }

p, ul, ol {
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }

ul {
  list-style: none; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
p:first-child, ul:first-child, ol:first-child, li ul:first-child, li ol:first-child,
blockquote:first-child, figure:first-child {
  margin-top: 0;
  padding-top: 0; }

small,
.small {
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 140%; }

strong {
  color: #ccc8a5; }

/* CUSTOM FONT SIZES */
.fsize-xs {
  font-size: 12.8px;
  font-size: 0.8rem;
  line-height: 140%; }

.fsize-s {
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 140%; }

.fsize-l {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 140%; }

.fsize-xl {
  font-size: 32px;
  font-size: 2rem;
  line-height: 140%; }

.fsize-xxl {
  font-size: 48px;
  font-size: 3rem;
  line-height: 140%; }

.color-font-dark1 {
  color: #DDD; }

.fcolor2 {
  color: #8282AA; }

.fcolor3 {
  color: #737580; }

/* ARTICLE BLOCK */
article p,
article ul, article ol,
article blockquote,
article h1, article h2, article h3, article h4, article h5, article h6,
article hr, article nav, article figure, article .columns {
  max-width: 810px;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto; }
article blockquote p {
  color: #dddddd; }
article figure {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem; }
  article figure img {
    max-width: 100%; }
  article figure figcaption {
    margin-top: 12px;
    margin-top: 0.75rem;
    font-size: 14.4px;
    font-size: 0.9rem;
    line-height: 120%;
    color: #DDD; }

form {
  margin: 0; }
  form small {
    color: #DDD; }

input,
select {
  color: #ccc8a5;
  background: rgba(221, 221, 221, 0.05);
  box-sizing: border-box;
  outline: none; }
  input[type=text], input[type=email],
  select[type=text],
  select[type=email] {
    padding: .75rem;
    margin: .1rem 0;
    border-radius: .2rem;
    border: 1px solid rgba(130, 130, 170, 0.5);
    width: 60%; }
    input[type=text]:focus, input[type=email]:focus,
    select[type=text]:focus,
    select[type=email]:focus {
      box-shadow: 0 0 1rem rgba(0, 118, 255, 0.5);
      border: 1px solid rgba(130, 130, 170, 0.3); }
  @media (max-width: 641px) {
    input[type=text], input[type=email],
    select[type=text],
    select[type=email] {
      width: 100% !important; } }
  input::placeholder,
  select::placeholder {
    color: rgba(204, 200, 165, 0.25) !important;
    font-weight: 300;
    opacity: 1; }

form label {
  display: block;
  margin: 0px 0px;
  margin: 0rem 0rem; }

select {
  border-color: rgba(204, 200, 165, 0.5);
  font-size: 12.8px;
  font-size: 0.8rem; }

/* fontawesome styles */
.fa, .far, .fab, .fas {
  margin-bottom: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.wrapper {
  margin: 0 auto;
  padding: 3rem 0;
  width: 100%;
  max-width: 810px;
  max-width: 45rem; }

.wrapper-full {
  width: 100%;
  max-width: 100%;
  margin: 0 1.5rem;
  width: auto !important; }

@media (max-width: 641px) {
  .wrapper,
  .wrapper-full {
    margin: 0 1rem;
    width: auto !important; } }
@media (max-width: 1007px) and (min-width: 641px) {
  .wrapper {
    margin: 0 1rem;
    width: auto !important; } }
/* Main Page: Brands Section
   ========================================================================== */
.brands-grid-main {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

.brands-section {
  width: 78%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .brands-section .brand-item {
    width: 33.33%;
    border: 0 !important; }
    .brands-section .brand-item figure {
      position: relative;
      margin: 0; }
      .brands-section .brand-item figure img {
        width: 100%; }
      .brands-section .brand-item figure figcaption {
        text-align: center;
        color: #DDD;
        font-size: 24px;
        font-size: 1.5rem;
        position: absolute;
        z-index: 3;
        bottom: 2.5rem;
        left: 1rem;
        right: 1rem;
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out; }
      .brands-section .brand-item figure .gradient {
        background: linear-gradient(0deg, rgba(14, 18, 29, 0.7) 0%, rgba(14, 18, 29, 0) 100%);
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40%;
        z-index: 2; }
    .brands-section .brand-item:hover figcaption {
      bottom: .5rem;
      -webkit-transition: all .35s ease-in-out;
      -moz-transition: all .35s ease-in-out;
      -ms-transition: all .35s ease-in-out;
      -o-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out; }

.special-offers-section {
  width: 22%;
  padding: 1rem;
  background: #1a1a1a; }

/* Inner Page: Collection
   ========================================================================== */
.intro {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.intro-image {
  width: 40%; }

.intro-text {
  width: 50%; }
  .intro-text h1 {
    text-align: center; }

.intro-image figure {
  width: auto; }
  .intro-image figure img {
    width: 100%; }

.intro-text {
  font-size: 22.4px;
  font-size: 1.4rem; }
  .intro-text p {
    line-height: 150% !important; }

.collection-grid {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }
  .collection-grid .nav-sub {
    width: 20%; }
    .collection-grid .nav-sub h3 {
      font-family: -apple-system, Helvetica, Arial, Sans-serif; }
    .collection-grid .nav-sub ul {
      background: rgba(204, 200, 165, 0.12);
      margin-top: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      border-radius: 0.5rem; }
  .collection-grid .collection-section {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .collection-grid .collection-section .collection-item {
      width: 33.33%;
      color: #ccc8a5;
      border: 0; }
      .collection-grid .collection-section .collection-item:hover {
        color: #FFF; }
    .collection-grid .collection-section figure {
      margin-bottom: 48px;
      margin-bottom: 3rem;
      padding: 0; }
      .collection-grid .collection-section figure img {
        max-width: 330px; }
      .collection-grid .collection-section figure figcaption {
        font-size: 19.2px;
        font-size: 1.2rem;
        text-align: center; }

.product-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 48px;
  margin-top: 3rem; }
  .product-section .product-photo {
    flex-basis: 40%; }
    .product-section .product-photo figure img {
      width: 90%;
      max-width: 500px;
      margin-right: 0; }
  .product-section .product-info {
    flex-basis: 50%;
    margin-top: 1rem;
    margin-left: 0; }
    .product-section .product-info h1 {
      font-size: 32px;
      font-size: 2rem;
      font-family: -apple-system, Helvetica, Arial, Sans-serif; }
    .product-section .product-info .product-meta {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
    .product-section .product-info .product-volume,
    .product-section .product-info .product-qty,
    .product-section .product-info .product-package {
      margin: 0 2rem 2rem 0; }
    .product-section .product-info .product-desc {
      max-width: 80%;
      margin-left: 0; }
    .product-section .product-info .product-add-fav {
      font-family: -apple-system, Helvetica, Arial, Sans-serif;
      font-size: 14.4px;
      font-size: 0.9rem;
      margin-top: 1rem;
      margin-bottom: 2.5rem; }
    .product-section .product-info .product-price-section {
      font-family: -apple-system, Helvetica, Arial, Sans-serif;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start; }
      .product-section .product-info .product-price-section .product-price {
        font-weight: bold;
        font-size: 22.4px;
        font-size: 1.4rem;
        line-height: 2.8rem; }
      .product-section .product-info .product-price-section .product-price,
      .product-section .product-info .product-price-section .product-submit {
        margin-left: 0;
        margin-right: 0; }
      .product-section .product-info .product-price-section .product-submit {
        margin-left: 2rem; }

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }
.products-slider-section {
  margin-top: 6rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  /* Arrows */ }
  .products-slider-section .products-slider-item {
    outline: none; }
    .products-slider-section .products-slider-item figure {
      max-width: 230px; }
      .products-slider-section .products-slider-item figure img {
        width: 100%; }
  .products-slider-section .slick-prev,
  .products-slider-section .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent; }
  .products-slider-section .slick-prev:hover,
  .products-slider-section .slick-prev:focus,
  .products-slider-section .slick-next:hover,
  .products-slider-section .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent; }
  .products-slider-section .slick-prev:hover:before,
  .products-slider-section .slick-prev:focus:before,
  .products-slider-section .slick-next:hover:before,
  .products-slider-section .slick-next:focus:before {
    opacity: 1; }
  .products-slider-section .slick-prev.slick-disabled:before,
  .products-slider-section .slick-next.slick-disabled:before {
    opacity: .25; }
  .products-slider-section .slick-prev:before,
  .products-slider-section .slick-next:before {
    font-family: 'slick';
    font-size: 1.5rem;
    line-height: 1;
    opacity: .5;
    color: #ccc8a5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .products-slider-section .slick-prev {
    left: -25px; }
  .products-slider-section [dir='rtl'] .slick-prev {
    right: -25px;
    left: auto; }
  .products-slider-section .slick-prev:before {
    content: '←'; }
  .products-slider-section [dir='rtl'] .slick-prev:before {
    content: '→'; }
  .products-slider-section .slick-next {
    right: -25px; }
  .products-slider-section [dir='rtl'] .slick-next {
    right: auto;
    left: -25px; }
  .products-slider-section .slick-next:before {
    content: '→'; }
  .products-slider-section [dir='rtl'] .slick-next:before {
    content: '←'; }

/* Header
   ========================================================================== */
.header,
.footer {
  font-family: -apple-system, Helvetica, Arial, Sans-serif; }

.header {
  position: relative;
  overflow: visible !important;
  margin-top: 15.6px;
  margin-top: 0.975rem;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  display: flex;
  flex-flow: row wrap; }
  .header .logo {
    flex-grow: 1; }
    .header .logo h1 {
      font-size: 19.2px;
      font-size: 1.2rem;
      margin: 0;
      padding: 0; }
  .header .nav-main {
    font-size: 12.8px;
    font-size: 0.8rem;
    line-height: 140%;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; }
    .header .nav-main div {
      margin: 0 0 0 1rem; }
      .header .nav-main div a {
        border: 0; }

/* Footer
   ========================================================================== */
footer {
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: right;
  color: rgba(204, 200, 165, 0.7);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0px 30px;
  margin: 0rem 1.875rem; }
  footer .copyright {
    margin: 0px 0px;
    margin: 0rem 0rem; }

@media (max-width: 641px) {
  footer {
    margin: 0px 0px;
    margin: 0rem 0rem; } }
